api-stub/node_red_stubs/flows.json
[{"type":"tab","id":"a3f2c538.5c0d38","label":"Endpoints"},{"id":"35a9c648.ca563a","type":"json","z":"a3f2c538.5c0d38","name":"","x":599,"y":97,"wires":[["e5d77e0b.1a288"]]},{"id":"54826c2f.ab7d94","type":"delay","z":"a3f2c538.5c0d38","name":"Random delay 200ms-3s","pauseType":"random","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"200","randomLast":"3000","randomUnits":"milliseconds","drop":false,"x":411,"y":328,"wires":[["28276253.d7d89e"]]},{"id":"f4dc1f4f.0b23e","type":"http in","z":"a3f2c538.5c0d38","name":"GET /users","url":"/users","method":"get","swaggerDoc":"","x":95,"y":80,"wires":[["7c1c56e7.83e3a8"]]},{"id":"7c1c56e7.83e3a8","type":"file in","z":"a3f2c538.5c0d38","name":"data/users.json","filename":"api-stub/data/users.json","format":"utf8","x":338,"y":79,"wires":[["35a9c648.ca563a"]]},{"id":"3f65a668.c09a5a","type":"http in","z":"a3f2c538.5c0d38","name":"GET /users/1","url":"/users/1","method":"get","swaggerDoc":"","x":108,"y":134,"wires":[["fd8bf1ad.02741"]]},{"id":"fd8bf1ad.02741","type":"file in","z":"a3f2c538.5c0d38","name":"data/users/1.json","filename":"api-stub/data/users/1.json","format":"utf8","x":351,"y":134,"wires":[["35a9c648.ca563a"]]},{"id":"52acdd3.fad5324","type":"inject","z":"a3f2c538.5c0d38","name":"enable debug logs","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":1044,"y":83,"wires":[["65811a92.9a7ee4"]]},{"id":"f9cda3df.06326","type":"inject","z":"a3f2c538.5c0d38","name":"disable debug logs","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":1045,"y":134,"wires":[["65811a92.9a7ee4"]]},{"id":"65811a92.9a7ee4","type":"function","z":"a3f2c538.5c0d38","name":"set debugging state","func":"context.global.debugMode = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1265,"y":113,"wires":[[]]},{"id":"28276253.d7d89e","type":"function","z":"a3f2c538.5c0d38","name":"debug log","func":"if(context.global.debugMode){\n    var m = msg.req.method;\n    var u = msg.req.originalUrl;\n    var debugMessage = 'DEBUG - Method: ' + m + ' URL: ' + u;\n    console.log(debugMessage);\n}\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":394,"wires":[["f0d6cc43.0f293"]]},{"id":"7d62c270.829d3c","type":"inject","z":"a3f2c538.5c0d38","name":"enable return 304","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":1041,"y":222,"wires":[["2db8452a.d247ba"]]},{"id":"afcb2c43.5034d","type":"inject","z":"a3f2c538.5c0d38","name":"disable return 304","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":1042,"y":273,"wires":[["2db8452a.d247ba"]]},{"id":"2db8452a.d247ba","type":"function","z":"a3f2c538.5c0d38","name":"set debugging state","func":"context.global.treeOFourMode = parseInt(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1262,"y":252,"wires":[[]]},{"id":"e5d77e0b.1a288","type":"function","z":"a3f2c538.5c0d38","name":"set 304 header","func":"if(context.global.treeOFourMode){\n    console.log(msg.res.statusCode);\n    msg.res.statusCode = 304;\n    msg.statusCode = 304;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":288,"y":259,"wires":[["54826c2f.ab7d94"]]},{"id":"f0d6cc43.0f293","type":"http response","z":"a3f2c538.5c0d38","name":"http response","x":566,"y":473,"wires":[]}]